* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Open Sans", sans-serif;
}

body {
  background-color: #e5e5e5;
}

.container {
  display: grid;
  grid-template-columns: 232px 1fr;
  margin: 0 auto;
  max-width: 960px;
  column-gap: 20px;
  padding: 50px 103px;
}

.logo {
  grid-column: 1 / -1;
  grid-row: 1 / 2;
  justify-self: center;
  margin-bottom: 50px;
}

.filter {
  display: flex;
  flex-direction: column;
  grid-row: 2 / 4;
  grid-column: 1 / 2;
  background-color: #fff;
  padding: 20px 0 10px 0;
  align-self: flex-start;
  border-radius: 5px;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.1);
}

.filter__header {
  margin-bottom: 10px;
  font-size: 12px;
  line-height: 12px;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  font-weight: 600;
  color: #4a4a4a;
  padding-left: 20px;
}

.filter__check-option {
  display: block;
  padding: 10px 50px;
  font-weight: 400;
  font-size: 13px;
  line-height: 20px;
  color: #4a4a4a;
  cursor: pointer;
}

.filter__check-option:hover {
  background-color: #f1fcff;
}

.filter__input {
  position: absolute;
  appearance: none;
}

.filter__checkbox {
  position: absolute;
  width: 20px;
  height: 20px;
  margin-left: -30px;
  background-image: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect x='0.5' y='0.5' width='19' height='19' rx='1.5' stroke='%239ABBCE'/%3E%3C/svg%3E%0A");
}

.filter__input:checked + .filter__checkbox {
  background-image: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect x='0.5' y='0.5' width='19' height='19' rx='1.5' stroke='%232196F3'/%3E%3Cpath d='M8.28571 14L4 10.1612L5.20857 9.0787L8.28571 11.8273L14.7914 6L16 7.09021L8.28571 14Z' fill='%232196F3'/%3E%3C/svg%3E%0A");
}

.filter__check-option:focus-within {
  background-color: #f1fcff;
}

main {
  display: flex;
  grid-column: 2 / -1;
  gap: 20px;
  flex-direction: column;
}

.sorting__buttons {
  position: relative;
  width: 100%;
  height: 50px;
  display: flex;
}

.sorting__buttons::before {
  content: "";
  position: absolute;
  height: 100%;
  width: 1px;
  background-color: #dfe5ec;
  left: 50%;
  transform: translate(-50%, 0);
  transition: all 0.2s;
}

.sorting__buttons:hover:before {
  background-color: #000;
}

.btn {
  height: inherit;
  width: 50%;
  background-color: #fff;
  flex: 1;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 12px;
  letter-spacing: 0.5px;
  cursor: pointer;
  transition: all 0.2s;
  border: 1px solid #dfe5ec;
}

.btn:hover,
.btn:focus {
  background-color: #2196f3;
  color: #fff;
  border: 1px solid #000000;
  outline: none;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.sorting__buttons > :first-child {
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  border-right: none;
}

.sorting__buttons > :last-child {
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  border-left: none;
}

.tickets-list {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.ticket {
  background-color: #fff;
  padding: 20px;
  display: flex;
  flex-direction: column;
  border-radius: 5px;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.1);
}

.ticket-row {
  display: flex;
  align-items: center;
  gap: 95px;
}

.ticket-row--main {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.ticket-row--main span {
  color: #2196f3;
  font-weight: 600;
  font-size: 24px;
  line-height: 24px;
}

.ticket-row:nth-child(2) {
  margin-bottom: 10px;
}

.row-block {
  font-size: 12px;
  line-height: 18px;
  letter-spacing: 0.5px;
  font-weight: 600;
  line-height: 18px;
}

.row-block :first-child {
  color: #a0b0b9;
  text-transform: uppercase;
  line-height: 21px;
}
