@import "variables.scss";
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Open Sans", sans-serif;
}

body {
  background-color: $backgroundColor;
}

.container {
  display: grid;
  grid-template-columns: 232px 1fr;
  margin: 0 auto;
  max-width: 960px;
  column-gap: 20px;
  padding: 50px 103px;
}

.logo {
  grid-column: 1 / -1;
  grid-row: 1 / 2;
  justify-self: center;
  margin-bottom: 50px;
}

main {
  display: flex;
  grid-column: 2 / -1;
  gap: 20px;
  flex-direction: column;
}
