$backgroundColor: #e5e5e5;
$white: #ffffff;
$black: #000000;

$filterFontColor: #4a4a4a;
$filterHoverColor: #f1fcff;

$mainBlueColor: #2196f3;

$buttonBorderColor: #dfe5ec;

$secondaryTicketFontColor: #a0b0b9;
